#Stage2_TitleScreen {
    width: 100%;
    height: 100%;

    background-image: url(../imgs/stage2/BACK_2023.png);
}

#Stage2_Title {
    position: absolute;
    width: 440px;
    height: 100px;
    left: 430px;
    top: 378px;
    font-size: 23px;
    font-family: "Lobster";
    padding-left: 30px;
    text-align: center;
}
#Stage2_Game_ShotBar {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Stage2_shotInactive {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px gray;
}
#Stage2_PseudoTitle {
    width: 100%;
    text-align: center;
    font-family: "Lobster";
    font-size:  45px;
}
#Stage2_FioBar{
    width: 800px;
    margin-left: 100px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Stage2_Fio {
    font-family: "Lobster";
    font-size: 30px;
    text-align: center;

    &:hover {
        text-decoration: underline;
    }
}
.Stage2_right {
    background-color: green;
}
.Stage2_err {
    background-color: red;
}
.Stage2_ResultGood {
    background-image: url(/src/imgs/stage2/stage2_good.png);
}
.Stage2_ResultBad {
    background-image: url(/src/imgs/stage2/stage2_bad.png);
}