#Stage1_TitleScreen{
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("../imgs/stage1/back_title_2023.png");
}
#Stage1_Title{
    position: absolute;
    left: 455px;
    top: 140px;
    width: 470px;
    height: 100px;
    font-size: 27px;

    font-family: "Lobster";
    text-align: center;
}
#Stage1_Game{
    width: 1024px;
    height: 750px;
}
#Stage1_Map{
    height: 765px;
    width: 857px;

    background-image: url("../imgs/stage1/map.png");        
    background-size: contain;
}
.Stage1_Mark {
    position: absolute;
    width: 36px;
    height: 50px;
    background-image: url("../imgs/stage1/geomark_neutral.png");
    background-size: contain;
    background-repeat: no-repeat;

    margin-top: -50px;
    margin-left: -18px;

    position: absolute;
    z-index: 10;
}
#Stage1_Card{
    width: 600px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -360px;
    margin-top: -150px;
    background-color: antiquewhite;
    
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 20;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#Stage1_Authors{
    width: 550px;
    height: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Stage1_Author {
    width: 100px;
    height: 145px;
    border: 1px solid black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
        border: 2px solid lightcoral;
    }
}
#Stage1_AuthorPlace{
    font-family: "Lobster";
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding: 0;
}
.Stage1_Author0{ background-image: url(../imgs/stage1/0.jpg);};
.Stage1_Author1{ background-image: url(../imgs/stage1/1.jpg);};
.Stage1_Author2{ background-image: url(../imgs/stage1/2.jpg);};
.Stage1_Author3{ background-image: url(../imgs/stage1/3.jpg);};
.Stage1_Author4{ background-image: url(../imgs/stage1/4.jpg);};
.Stage1_Author5{ background-image: url(../imgs/stage1/5.jpg);};
.Stage1_Author6{ background-image: url(../imgs/stage1/6.jpg);};
.Stage1_Author7{ background-image: url(../imgs/stage1/7.jpg);};
.Stage1_Author8{ background-image: url(../imgs/stage1/8.jpg);};
.Stage1_Author9{ background-image: url(../imgs/stage1/9.jpg);};
.Stage1_Author10{ background-image: url(../imgs/stage1/10.jpg);};
.Stage1_Author11{ background-image: url(../imgs/stage1/11.jpg);};
.Stage1_Author12{ background-image: url(../imgs/stage1/12.jpg);};
.Stage1_Author13{ background-image: url(../imgs/stage1/13.jpg);};
.Stage1_Author14{ background-image: url(../imgs/stage1/14.jpg);};
.Stage1_Author15{ background-image: url(../imgs/stage1/15.jpg);};
.Stage1_Author16{ background-image: url(../imgs/stage1/16.jpg);};
.Stage1_Author17{ background-image: url(../imgs/stage1/17.jpg);};
.Stage1_Author18{ background-image: url(../imgs/stage1/18.jpg);};
.Stage1_Author19{ background-image: url(../imgs/stage1/19.jpg);};
.Stage1_Author20{ background-image: url(../imgs/stage1/20.jpg);};
.Stage1_Author21{ background-image: url(../imgs/stage1/21.jpg);};
.Stage1_Author22{ background-image: url(../imgs/stage1/22.jpg);};

.Stage1_goodMark {
    background-image: url(../imgs/stage1/markGood.png);
}
.Stage1_badMark{
    background-image: url(../imgs/stage1/markBad.png);
}
.Stage1_ResultGood{
    background-image: url(../imgs/stage1/stage1_resultGood.png);
}
.Stage1_ResultBad {
    background-image: url(../imgs/stage1/stage1_resultBad.png);
}