#Stage0_TitleScreen {
    background-image: url("../imgs/stage0/back2023.png");
}

#Stage0_TitleBack{   
    width: 700px;
    height: 700px;

    margin-left: 320px;

    display: flex;
    justify-content: center;
    align-items: center;
   
    background-image: url(../imgs/stage0/text-back.png);
    background-size: contain;
}

#Stage0_Title{
    width: 40%;   
    font-family: "Lobster";
    text-align: center;
    font-size: 22px;   
}
#Stage0_Game, #Stage0_Result {
    display: none;
}