#Stage0_TitleScreen {
    background-image: url("../imgs/stage0/back2023.png");
}

#Stage0_TitleBack{   
    width: 700px;
    height: 700px;

    margin-left: 320px;

    display: flex;
    justify-content: center;
    align-items: center;
   
    background-image: url(../imgs/stage0/text-back.png);
    background-size: contain;
}

#Stage0_Title{
    width: 40%;   
    font-family: "Lobster";
    text-align: center;
    font-size: 22px;   
}
#Stage0_Game, #Stage0_Result {
    display: none;
}
#Stage0_Game_ShotBar {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Stage0_shotInactive {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px gray;
}
#Stage0_Simptoms {
    width: 100%;
    text-align: center;
    font-family: "Lobster";
    font-size:  45px;
}
#Stage0_BooksBar{
    width: 800px;
    margin-left: 100px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Stage0_Book {
    font-family: "Lobster";
    font-size: 30px;
    text-align: center;

    &:hover {
        text-decoration: underline;
    }
}

.Stage_ShotGood { background-color: #00FF00;}
.Stage_ShotBad { background-color: #FF0000;}

#Stage0_Result {
    background-image: url(../imgs/stage0/back.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#Stage0_ResultGod{
    position: absolute;
    width: 600px;
    height: 540px;

    background-size: contain;
    background-repeat: no-repeat;    
}
.Stage0_ResultGod_bad {
    background-image: url(../imgs/stage0/0_bad.png);
    left: 350px;
    top: 250px;
}
.Stage0_ResultGod_good {
    background-image: url(../imgs/stage0/0_good.png);
    left: 85px;
    top: 250px;
}
#Stage0_ResultTitle{
    font-family: "Lobster";
    margin-left: 25%;
    width: 60%;
    text-align: center;
    position: absolute;
    top: 15%;
    font-size: 30px;
    background-color: rgba($color: #25afd1, $alpha: 0.6); 
}
#Stage0_Result_restart {
    display: none;
}
#Stage0_Result_next{
    display: none;
}
#Stage0_Game_but{
    display: none;
}