// @import url('./normolize.css');
@import 'stage0.scss';
@import 'stage1.scss';
@import 'stage2.scss';

$screenWidth: 1024px;
$screenHeight: 750px;

@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: 'Pacifico';
    src: url(../fonts/Pacifico-Regular.ttf);
}

* {
    font-family: 'Pacifico';
}

.Screen {
    width: $screenWidth;
    height: $screenHeight;
    position: absolute;

    left: 1024px;
}

#MainScreen {
    width: 1024px;
    height: 768px;
    position: absolute;

    left: 50%;
    top: 50%;

    margin-top: -384px;
    margin-left: -512px;

    overflow: hidden;
}

#TitleScreen {
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    background-image: url(../images/global/back21.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#StartBut,
#FinalScreen_Result__but,
#SecondScreen_Result__but,
#SecondScreen_Title__but,
#ThirdScreen_Title__but,
#FirstScreen_Title__but,
#ThirdScreen_Result__but,
#FinalScreen_Result__restartBut,
#SecondScreen_Result__restartBut,
#ThirdScreen_Result__restartBut {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    top: 90%;
    font-size: 30px;
}

#FirstScreen_Title__title, #SecondScreen_Title__title, #ThirdScreen_Title__title {
    top: 30%;

    width: 100%;
    text-align: center;
    font-size: 40px;
}
#FinalScreen_Result__text, #SecondScreen_Result__title, #ThirdScreen_Result__title {
    top: 30%;

    width: 100%;
    text-align: center;
    font-size: 40px;
}

.Title_text_back {
    width: 550px;
    height: 570px;
    margin-left: 380px;
    background-color: rgba(123, 255, 255, 0.5);
}