#app{
  width: 1000px;
  height: 730px;

  position: absolute;
  left: 50%;
  top: 50%;

  margin-left: -500px;
  margin-top: -365px; 
}
#Stage0_Screen, 
#Stage0_TitleScreen,
#Stage0_Result,
#Stage0_Game,

#Stage1_Screen, 
#Stage1_TitleScreen,
#Stage1_Game, 
#Stage1_Result, 

#Stage2_Screen, 
#Stage2_TitleScreen,
#Stage2_Game,
#Stage2_Result,

#Final_Screen
{
  display: none;
  width: 1000px;
  height: 750px;
}

@font-face {
  font-family: 'Lobster';
  src: url(./fonts/Lobster-Regular.ttf);
}
@font-face {
  font-family: 'Pacifico';
  src: url(../fonts/Pacifico-Regular.ttf);
}