#ThirdScreen_Title {
    position: absolute;
    width: $screenWidth;
    height: $screenHeight;

    left: -101%;
}
#ThirdScreen_Title{
    left: 0;

    background-image: url(../images/back42.png);
    background-repeat: no-repeat;
}
.Geomark {
    width: 36px;
    height: 50px;
    background-image: url(/assets/images/geomark_neutral.png);

    background-size: contain;
    background-repeat: no-repeat;

    margin-top: -50px;
    margin-left: -18px;

    position: absolute;
}