$screenWidth: 1024px;
$screenHeight: 750px;
#FirstScreen_Title, #FirstScreen_Game, #FirstScreen_Result {
    position: absolute;
    width: $screenWidth;
    height: $screenHeight;

    left: -101%;
}
#FirstScreen {
    overflow: hidden;
}
#FirstScreen_Title {
    left: 0;
}

#FirstScreen_Title {   
    &__img {
        position: absolute;

        left: 0;
        top: 100px;

        height: 600px;
        width: 480px;
        
        background-image: url('../images/0_01.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__title {
        top: 30%;
        
        width: 100%;
        text-align: center;
        font-size: 40px;
    }
    
    &__but {
        position: absolute;
        top: 90%;
        left: 50%;
        width: 300px;
        margin-left: -150px;

        font-size: 40px;
    }
}
#FirstScreen_Game {
    width: $screenWidth;
    height: $screenHeight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__results {
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.FirstScreen_Game__shot {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 20px;
}
#FirstScreen_Game__main{
    padding: 0;
    margin: 0;  
    height: 659px;
    width: 100%;  
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#FirstScreen_Game__simptom {  
    height: 80px;    
    width: 100%;  
}
#FirstScreen_Game__simptomP {
    font-size: 37px;
    text-align: center;
    padding: 0;
    margin-top: 20px;
    font-weight: bold;
}
#FirstScreen_Game__booksList{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}
.FirstScreen_Game__book {
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    &:hover {
        font-weight: bold;
        text-decoration: underline;
    }
}
#FinalScreen_Result__img {
    position: absolute;

    left: 0;
    top: 100px;

    height: 600px;
    width: 480px;
        
    background-size: contain;
    background-repeat: no-repeat;
}
.FinalScreen_Result__imgGood{
    background-image: url('../images/0_03.png');
}
.FinalScreen_Result__imgBad{
    background-image: url('../images/0_02.png');
}