// @import url('./normolize.css');
@import 'stage0.scss';

$x:1027px;

.Screen {
    width: $x;
    height: 768px;
    position: absolute;

    left: 1024px;

    border: 1px solid red;

    &_x {
        color: red
    }
}
#MainScreen {   
    width: 1024px;
    height: 768px;
    position: absolute;

    left: 50%;
    top: 50%;

    margin-top: -384px;
    margin-left: -512px;

    overflow: hidden;
    border: 1px solid red;

}
#TitleScreen {
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-image: url(../images/back_main.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    color: yellow;
}
